.wrapper
    .one one
        h1 block 1
        p.text Lorem ipsum dolor sit amet, consectetur.
    .two two
        h1 block 2
        p.text Lorem ipsum dolor sit amet, consectetur.
    .three three
        h1 block 3
        p.text Lorem ipsum dolor sit amet, consectetur.
    .four four
        h1 block 4
        p.text Lorem ipsum dolor sit amet, consectetur.
    .five five
        h1 block 5
        p.text Lorem ipsum dolor sit amet, consectetur.
    .six six
        h1 block 6
        p.text Lorem ipsum dolor sit amet, consectetur.

    button.button#changeColor Change color of text

